@import "utilities/borders";
@import "utilities/variables";
.mainDashboardWrapper {
  & > .sidebar {
    min-width: $sidebar-width;
    width: $sidebar-width;
    position: absolute;
    left: 0;

    & > .sidebarFlexWrapper {
      height: calc(100vh);
      & > .navSection {
        // background-color: green;
        .navEntry {
          padding: 15px 10px;
          border-radius: 4px;
          .navigationIcon {
            width: 30px;
            & > svg {
              height: 100%;
              width: 100%;
            }
          }
          .navText {
            font-size: medium !important;
            font-weight: 600;
          }
          &.active {
            background-color: #f3f3f3;
            .navText {
              color: $primary-color;
            }
          }
        }
      }
      div > a.help-badge {
        border-radius: 2rem;
        padding-left: 8px;
        padding-right: 8px;
        background-color: #f3f3f3;
        height: 2.4rem;
        width: 5.4rem;
        div {
          font-size: small;
        }
        .badge-xs {
          width: 1.6rem;
          height: 1.6rem;
          opacity: 0.5;
        }
      }
    }
  }
  & > .main {
    width: calc(100% - #{$sidebar-width}) !important;
    position: absolute;
    right: 0;
  }
  .dashboardNavLabel {
    & > img,
    svg {
      height: 40px;
    }
  }
}

.listBadge{
    height: 2.3rem;
    width: 2.3rem;
}